*{margin: 0;}
#container{
    width:1000px; margin: 0 auto;
}
nav{
    width: 90%; height: 80px;
    background: #006699;
}
ul{
    list-style: none;
    text-align: right;
    margin-right: 100px;
}
ul li{
    display:inline-block;
    /* margin:20px;
    padding: 10px; */
    line-height: 80px;
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color:yellow;
    background-color: black;
}
section{
    margin-top: 20px;
}